@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 50%;
    -webkit-perspective-origin: 50%;
}

.button {
    position: absolute;
    bottom: 20px;
    font-size: 1.5rem;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
    color: #28aef9;
    padding: 5px 30px;
    border: 5px solid #28aef9;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover:enabled {
    color: white;
    background-color: #28aef9;
    border: 5px solid #28aef9;
}

.button:active {
    color: #28aef9;
    background-color: white;
}

.button:disabled {
    border: 5px solid #ccc;
    color: #ccc;
    cursor: not-allowed;
}

.dice{
    height: 250px;
    width: 250px;
    position: relative;
    transform-style: preserve-3d;
    /* animation: rotate 3s infinite; */
}

.animate1 {
    animation: rotate1 10s forwards;
    /* animation-fill-mode: forwards; */
}

.animate2 {
    animation: rotate2 10s forwards;
    /* animation-fill-mode: forwards; */
}

.animate3 {
    animation: rotate3 10s forwards;
    /* animation-fill-mode: forwards; */
}

.animate4 {
    animation: rotate4 10s forwards;
    /* animation-fill-mode: forwards; */
}

.animate5 {
    animation: rotate5 10s forwards;
    /* animation-fill-mode: forwards; */
}

.animate6 {
    animation: rotate6 10s forwards;
    /* animation-fill-mode: forwards; */
}

@keyframes rotate1 {
    100% {
        transform: rotateX(calc(3240deg + 720deg)) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    100% {
        transform: rotateX(calc(3240deg + 900deg)) rotateZ(540deg) rotateY(270deg);
    }
}

@keyframes rotate3 {
    100% {
        transform: rotateX(calc(3240deg + 900deg)) rotateZ(540deg) rotateY(90deg);
    }
}

@keyframes rotate4 {
    100% {
        transform: rotateX(calc(3240deg + 900deg)) rotateZ(540deg);
    }
}

@keyframes rotate5 {
    100% {
        transform: rotateX(calc(3240deg + 630deg)) rotateZ(360deg);
    }
}

@keyframes rotate6 {
    100% {
        transform: rotateX(calc(3240deg + 810deg)) rotateZ(360deg);
    }
}

.face{
    background-color: #28aef9;
    height: 250px;
    width: 250px;
    border: 20px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    z-index: 1;
    color: white;
}

/* .face::after {
    content: '';
    background-color: black;
    height: 250px;
    width: 250px;
    border: 20px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -20px;
    right: 0;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transform: translateZ(20px) rotateY(180deg);
    backface-visibility: hidden;
} */

.front {
    transform: translateZ(125px);
    backface-visibility: hidden;
}

.front_center {
    transform: translateZ(124.9px);
    background-color: black;
}

.back {
    transform: translateZ(-125px) rotateY(180deg);
    backface-visibility: hidden;
}

.back_center {
    transform: translateZ(-124.9px) rotateY(180deg);
    background-color: black;
}

.left {
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
    background-color: #cf1662;
    backface-visibility: hidden;
}

.left_center {
    transform: rotateY(270deg) translateX(-125px) translateZ(-0.1px);
    transform-origin: center left;
    background-color: black;
}

.right {
    transform: rotateY(-270deg) translateX(125px);
    transform-origin: top right;
    background-color: #cf1662;
    backface-visibility: hidden;
}

.right_center {
    transform: rotateY(-270deg) translateX(125px) translateZ(-0.1px);
    transform-origin: top right;
    background-color: black;
}

.bottom {
    transform: rotateX(-90deg) translateZ(125px);
    background-color: purple;
    backface-visibility: hidden;
}

.bottom_center {
    transform: rotateX(-90deg) translateZ(124.9px);
    background-color: black;
}

.top {
    transform: rotateX(90deg) translateZ(125px);
    background-color: purple;
    backface-visibility: hidden;
}

.top_center {
    transform: rotateX(90deg) translateZ(124.9px);
    background-color: black;
}

.face>div {
    position: absolute;
}

.front>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom>div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}













